<!DOCTYPE html>
<html>
<head>
  <title>Singlepageapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link  href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css" media="all" rel="stylesheet">
    <link  href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" media="all" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><strong><em>INTEREST</em></strong></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%if user_signed_in?%><ul class="nav navbar-nav">
        <li>
          <%= link_to "New Interest", "#", data: {toggle: "modal", target: "#newInterestModal"} %></li>

      </ul><%end%>

      <ul class="nav navbar-nav navbar-right">
        <%if user_signed_in?%>
        <li>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>

        </li>
        <%end%>
        <li>
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<span class="notice"><%= notice %></span>
<span class="alert"><%= alert %></span>
<div class="container">

  <!-- Modal -->
<div class="modal fade" id="newInterestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="interest-form">
        <%= render partial: 'interests/form' %>
      </div>
    </div>
  </div>
</div>
  <%= yield %>
</div>
  <%if user_signed_in?%>
    <div class="container">
    <%= paginate @interests %>
    </div>
  <%end%>
</body>
</html>
